.btn-secondary {
  @mixin active-style() {
    color: $white;
    background: $black;
    border: 2px solid $black;
  }

  @include hover-focus-active {
    @include active-style();
  }

  &:active:hover {
    @include active-style();
  }

  &.active {
    color: $black;
    background: transparent;
    border: 2px solid $black;

    &:active,
    &:focus {
      @extend .btn-secondary.active;
    }

    &:hover {
      @include active-style();
    }
  }
}

a.btn {
  &.btn-tag {
    color: $black;
    font-weight: 400;
    border-color: $black;
    border-radius: 19px;
    margin-right: 16px;
    margin-bottom: 10px;
    padding: 0.5rem 0.8125rem;

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }
  }
}
