.btn-secondary {
  @mixin active-style() {
    color: $white;
    background: $black;
    border: 2px solid $black;
  }

  @include hover-focus-active {
    @include active-style();
  }

  &:active:hover {
    @include active-style();
  }

  &.active {
    color: $black;
    background: transparent;
    border: 2px solid $black;

    &:active,
    &:focus {
      @extend .btn-secondary.active;
    }

    &:hover {
      @include active-style();
    }
  }
}

a.btn {
  &.btn-tag {
    font-weight: 400;
  }
}
