a {
  text-decoration: none;
}

#learn-more {
  color: $dark-blue;

  @include hover-focus-active {
    // Bootstrap / mofo-style overrides
    color: $dark-blue;
    text-decoration: underline;
  }
}

h4,
.h4-heading {
  @include scaleText(22px, 32px, 24px, 30px);
}
