// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// spacing

$form-field-vertical-margin: 30px;
$form-check-input-margin-x: 0.5rem;

// colors

$form-text-light: #8d8d8d;
$form-error-color: #d24735;

// mofo-bootstrap overrides

$body-color: $black;
$link-color: $mobile-blue;
$link-hover-color: darken($mobile-blue, 15%);
$font-weight-normal: normal;
$btn-border-radius: 4px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-xs: $btn-border-radius;
$btn-padding-x-xs: $btn-padding-x-sm;
$btn-padding-y-xs: 0.125rem;
$btn-font-weight: $font-weight-normal;
$btn-info-border: $btn-info-bg;
$input-color: $body-color;
$input-color-focus: $input-color;
