// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// spacing

$form-field-vertical-margin: 30px;
$form-check-input-margin-x: 0.5rem;

// colors

$form-text-light: #8d8d8d;
$form-error-color: #d24735;

// mofo-bootstrap overrides

$body-color: $black;
$link-color: inherit;
$link-hover-color: darken($mobile-blue, 15%);
$link-decoration: underline;
$font-weight-normal: normal;
$btn-border-radius: 4px;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-xs: $btn-border-radius;
$btn-padding-x-xs: $btn-padding-x-sm;
$btn-padding-y-xs: 0.125rem;
$btn-font-weight: $font-weight-normal;
$btn-info-border: $btn-info-bg;
$input-color: $body-color;
$input-color-focus: $input-color;

// Foundation-Site Styles

// Side-wide Palatte

$gray-05: #f2f2f2;
$gray-20: #ccc;
$gray-40: #999;
$gray-60: #666;
$gray-80: #333;
$black: #000;
$white: #fff;

$light-red: #ffe6e8;
$red: #ff4f5e;
$dark-red: #c01;

$light-blue: #b7b9fa;
$blue: #595cf3;
$dark-blue: #0d10bf;

// Privacy Not Included (PNI) Palatte

$pni-blue: #1808f2;
$pni-blue-purple: #4a17d4;
$pni-purple: #7f28b7;
$pni-purple-pink: #b0379b;
$pni-pink: #e4487d;
$pni-gradient: linear-gradient(to right, $pni-blue 0%, $pni-pink 100%);

$bg-product-image: #f4f4f4; // keep this #f4f4f4 as this is the background colour that product images have

// Font weight

$btn-font-weight: 700;
