/* ***** colors
mofo unified palette: https://redpen.io/aq798f74c9a3ad7266

hot-pink: #E14164;
body-text-color: #48484A;
link-blue: #16AFE5;
link-blue-hover: #0490C0;
light-grey: #ADADAD;
body-background-grey: #F1F1F1;
nav-link-pink: #EB8399;
issue-btn-border-grey: #C7C7CA;
***** */

/* ***** other stuff
padding/gutter: 20px
***** */

/* layout */

body { 
  font-family: "Fira Sans", Sans-serif;
  font-weight: 400;
  font-size: 15px;
  background:#F1F1F1;
  color:#48484A;
  padding-top:0;
 }

 input {
  outline: none;
 }

.container {
  max-width: 950px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  color: #16AFE5;
  text-decoration: none;
}

a:hover {
  color: #0490C0;
}

nav {
  background: #E14164;
  padding: 15px 0;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

nav .container {
  position: relative;
}

.nav-item {
  text-transform: uppercase;
  color: #EB8399;
  cursor: pointer;
}

.single-project-view .nav-item {
  display: none;
}

.nav-item:not(:last-of-type) {
  margin-right: 15px;
}

#back-link,
.nav-item.active,
.nav-item:active,
.nav-item:hover {
  color: #fff;
}

#back-link {
  display: none;
  text-transform: uppercase;
  cursor: pointer;
}

#back-link::before {
  content: "<";
  display: inline-block;
  margin-right: 5px;
}

.single-project-view #back-link {
  display: inline-block;
}

.btn,
.issue-btn {
  transition: background-color .15s, color .15s, border-color .15s;
}

.btn {
  display: inline-block;
  text-align: center;
  border:1px solid #16AFE5;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 6px;
  width: 100%;
}

.btn:hover,
.btn:active {
  background: #16AFE5;
  color: #fff;
}

#add-project-form {
  display:none;
  position:absolute;
  top:0; left:0;
  width:100%; height:100%;
  background:rgba(0,0,0,0.67);
  z-index:101;
  height: 100vh;
}

/* project lists */

#project-container {
  margin-top: 20px;
}

#project-container .controls {
  margin-bottom: 20px;
}

.issue-btn {
  display: inline-block;
  color: #7A7A7A;
  border: 1px solid #C7C7CA;
  border-radius: 4px;
  padding: 3px 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.issue-btn.active,
.issue-btn:hover {
  color: #E14164;
  border-color: #E14164;
}

#project-container .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
}

#message-view {
  display: none;
  padding-bottom: 200px;
}

#message-view h2 {
  font-size: 20px;
  color: #E14164;
}

/* site header */

#splash-screen {
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  margin:0;
  padding:0 1em 1em;
  overflow: hidden;
  background:#E14164;
  color:white;
  z-index:1001;
  opacity:1;
  transition: opacity .5s;
  font-size:1.25em;
}

#splash-screen h1 {
  margin-top:33vh;
  margin-bottom:.5em;
  line-height: .9em;
  font-weight: 100;
  transition: font-size .25s;
}

#splash-screen.dismissed { opacity: 0; }

#splash-screen h1 span {
  display: block;
  position: relative;
  opacity:.5;
  top:5px;
  font-size: .75em;
}


/* project card */

.project {
  box-sizing: border-box;
  width:100%;
  background:#fff;
  overflow:hidden;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  transition:left .25s, height .25s, padding .25s, margin .25s;
  /* optimize swipe with class and transform. */
}

.project .interest,
.project .network-connection-and-origin,
.project .get-involved,
.project .btn-group,
.single-project-view .project .read-more-link {
  display: none;
}

.single-project-view .project .interest,
.single-project-view .project .network-connection-and-origin,
.single-project-view .project .get-involved {
  display: block;
}

.project-summary {
  padding: 15px;
}

.project h2 {
  color: #E14164;
  font-size:30px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.project h3 {
  color: #ADADAD;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.single-project-view .project .btn-group {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-project-view .project .btn-group .btn:not(:last-child),
.project .action-panel :not(:last-child) {
  margin-right: 10px;
}

.project-links a {
  text-decoration: none;
  color: #16AFE5;
}

.project-link:hover {
  color:rgba(0,0,0,0.67);
  background:rgba(255,255,255,0.8);
}

.project .action-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.project .action-panel img {
  margin-top: 5px;
}

.single-project-view .project .action-panel {
  flex-direction: row-reverse;
}


.read-more-link {
  display: inline-block;
  cursor: pointer;
}

.star {
  display: inline-block;
  width: 23px;
  height: 19px;
  background: url(../svg/icon-fav.svg) center center no-repeat;
  background-size: auto 16px;
  cursor: pointer;
}

.project.starred .star {
  background: url(../svg/icon-fav-selected.svg) center center no-repeat;
  background-size: auto 16px;
}

.hidden-meta {
  display: none;
}

/* search box */

.single-project-view #search {
  display: none;
}

#search { 
  background: #FFF;
}

#search .container {
  position: relative;
}

#search-box {
  width: 100%;
  padding: 18px 0 18px 30px;
  background: url(../svg/icon-search.svg) #FFF no-repeat left center;
  border: 0;
  box-sizing: border-box;
}

#search .dismiss {
  position: absolute;
  top: 18px;
  right: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  opacity: 0;
  transition: opacity .1s;
}

#search .activated .dismiss {
  opacity: 1;
}

#search .dismiss div {
  position: absolute;
  width: 20px;
  top: 0;
  right: 0;
}

/* buttons */

button,
a.button {
  outline:0;
  border:0;
  background:#eee;
  box-shadow:1px 1px 2px rgba(0,0,0,0.24);
  padding:.25em .5em;
  color:#333;
  white-space: nowrap;
}

a.button {
    text-decoration: none;
}

button:hover,
button:active,
a.button:hover,
a.button:active {
  color:white;
  background:#333;
}


/* add new button */

#toggle-form-button {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-weight: 300;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: transform .5s, color .25s, background .25s;
  text-align:center;
  z-index: 1000;
  background: url(../svg/icon-plus.svg) #48484A center center no-repeat;
  cursor: pointer;
}
#toggle-form-button:hover,
#toggle-form-button:active {
  background-color: #16AFE5;
}


/* form fields */

label {
  color:rgba(0,0,0,0.67);
  font-weight: 100;
  vertical-align: -2px;
  margin-left:.2em;
}

label, input[type='radio'] { 
  cursor:pointer;
}

/* loading */

#loading {  
  width:100%;
  height:200px; 
  line-height:200px;
  text-align: center;
  font-size:4em;
  color:rgba(0,0,0,0.67);
}

/* site footer */

footer {
  text-align: center;
  padding: 15px 0;
}


/* utility */

.hidden { display: none; }


/* wide screens */

@media screen and (min-width: 650px) {

  nav .container {
    position: relative;
  }

  .single-project-view #toggle-form-button {
    bottom: none;
    top: 50%;
  }

  #toggle-form-button {
    position: absolute;
    bottom: 50%;
    right: 20px;
  }

  .project {
    width: calc( (100% - 2*20px) / 2 );
  }

  .mobileOnly {
    display: none;
  }

}

@media screen and (min-width: 950px) {
  .container {
    padding: 0;
  }

  #toggle-form-button {
    right: 0;
  }

  .project {
    width: calc( (100% - 3*20px) / 3 );
  }

  .single-project-view .project {
    width: calc( (100% - 2*20px) / 2 );
  }

  footer p {
    display: inline-block;
  }

  footer p:not(:last-child):after {
    content: "|";
    display: inline-block;
    padding: 0 12px;
    color: #ADADAD;
  }
}
