$field-hint-top-spacing: 5px;
$field-hint-font-size: 0.875rem;

// most of the following CSS rules are to style form elements created by the "react-formbuilder" library

.inline.error {
  color: $form-error-color;
  font-style: italic;
  font-size: $field-hint-font-size;
  margin-top: $field-hint-top-spacing;

  &::before {
    font-family: "FontAwesome";
    content: "\f00d";
    display: inline-block;
    margin-right: 0.4rem;
    font-style: normal;
  }
}

.error.form-control {
  border-color: $form-error-color;

  + .char-limit,
  + .word-limit {
    color: $form-error-color;
  }
}

.checkboxGroup {
  label {
    @extend .form-check-label;

    margin-left: 0;
  }

  input {
    @extend .form-check-input;

    margin-right: $form-check-input-margin-x;
  }
}

.fieldset-full-width {
  @extend .col-12;
}

.fieldset-half-width {
  @extend .col-md-6;
}

.submit-section {
  button + span {
    color: $form-error-color;
  }
}

p.guide-text {
  @extend .form-label;

  margin-bottom: 4px;
}

span.char-limit {
  position: absolute;
  right: $grid-gutter-width-base/2;
  color: $form-text-light;
  font-size: $field-hint-font-size;
  padding-top: $field-hint-top-spacing;
}

.over-char-limit {
  span.char-limit {
    color: $form-error-color;
  }
}

.form-label {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 8px;
}

.form-control {
  @include form-control ( $gray-20 );
}

p.project-image {
  &::after {
    @include form-helper-text;

    content: "(only submit images that you have permission to use in this context)";
    margin-left: 0;

    @media (min-width: $bp-md) {
      margin-left: 4px;
    }
  }
}

fieldset.issues {
  margin-bottom: 36px;
}

fieldset.help_types {
  margin-bottom: 48px;
  padding-top: 24px;

  .options {
    column-count: 1;

    @media (min-width: $bp-md) {
      column-count: 2;
    }
  }
}
