// most of the following CSS rules are to style form elements created by the "react-formbuilder" library

.inline.error {
  color: $form-error-color;
  font-style: italic;
  font-size: 0.875rem;
  margin-top: 5px;

  &::before {
    font-family: "FontAwesome";
    content: "\f00d";
    display: inline-block;
    margin-right: 0.4rem;
    font-style: normal;
  }
}

.error.form-control {
  border-color: $form-error-color;

  + .char-limit,
  + .word-limit {
    color: $form-error-color;
  }
}

.checkboxGroup {
  label {
    @extend .form-check-label;

    margin-left: 0;
  }

  input {
    @extend .form-check-input;

    margin-right: $form-check-input-margin-x;
  }
}

.fieldset-full-width {
  @extend .col-12;
}

.fieldset-half-width {
  @extend .col-md-6;
}

.submit-section {
  button + span {
    color: $form-error-color;
  }
}

p.guide-text {
  margin-bottom: 0;
}

span.char-limit {
  position: absolute;
  right: $grid-gutter-width-base/2;
  color: $form-text-light;
  font-size: 0.875rem;
  padding-top: 5px;
}

.over-char-limit {
  span.char-limit {
    color: $form-error-color;
  }
}
