// mofo-bootstrap bits
@import "./mofo-bootstrap/mofo-bootstrap";

// Breakpoints (imported from Bootstrap)

$bp-xs: #{map-get($grid-breakpoints, xs)}; // < 544px
$bp-sm: #{map-get($grid-breakpoints, sm)}; // >= 544px
$bp-md: #{map-get($grid-breakpoints, md)}; // >= 768px
$bp-lg: #{map-get($grid-breakpoints, lg)}; // >= 992px
$bp-xl: #{map-get($grid-breakpoints, xl)}; // >= 1200px

// Foundation site style

@import "./foundation-style/mixins";
@import "./foundation-style/type";
@import "./foundation-style/buttons";
@import "./foundation-style/glyphs";

// Pulse
@import "variables.scss";
@import "mixin.scss";
@import "shared";
@import "form";

// third party modules
@import "../node_modules/react-select/scss/default.scss";

html {
  height: 100%;
}

body {
  background: $white;
  min-height: 100%;
  position: relative;
  font-weight: $font-weight-normal;
  color: $body-color;
}

#learn-more {
  color: $dark-blue;

  @include hover-focus-active {
    // Bootstrap / mofo-style overrides
    color: $dark-blue;
    text-decoration: underline;
  }
}

h4,
.h4-heading {
  @include scaleText(22px, 32px, 24px, 30px);
}

a {
  @include link-text-decoration;
}

.btn-link {
  background: transparent;
  border: none;
  font-family: inherit;
  font-weight: normal;
  cursor: pointer;
  color: $dark-blue;

  &.inline-link {
    @include link-text-decoration(none, underline);

    color: $dark-blue;
    font-size: inherit;
    line-height: inherit;
    vertical-align: inherit;
    padding: 0;
    border: 0;
  }
}

.btn,
button {
  @include link-text-decoration(none, none);
}

.btn-xs {
  @include button-size(
    $btn-padding-y-xs,
    $btn-padding-x-xs,
    $font-size-xs,
    $btn-border-radius-xs
  );
}

.btn-secondary.active {
  background: none;
  border-color: $black;
}

%btn-tab-active-state {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 3px $black;
}

.btn-tab {
  color: $body-color;
  font-weight: 700;
  font-size: 17px;
  text-transform: capitalize;
  margin-right: 2rem;
  padding: 0;
  border: 0;
  border-radius: 0;

  &.active {
    @extend %btn-tab-active-state;
  }

  @include hover-focus-active {
    @extend %btn-tab-active-state;
  }
}

.open-sans {
  font-family: "Open Sans", X-LocaleSpecific, sans-serif;
}

#main {
  min-height: 60vh;
}

hr.hr-gradient {
  height: 4px;
  background: linear-gradient(to right, $pulse-pink, $pulse-purple);
  margin-top: 32px;
  margin-bottom: 32px;
}

// Form

form {
  font-family: inherit;
}

.hint-text {
  @include form-helper-text();
}

fieldset {
  margin-bottom: $form-field-mb-sm;

  &.thumbnail {
    img {
      display: block;
      max-width: 250px;
      margin: 1rem auto;
    }
  }
}

// loading animation

.loading {
  div {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $gray-dark;
    margin: 0 6px;
    opacity: 0;
    transform-origin: center center;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    transform: scale(2);
  }

  75% {
    opacity: 0;
    transform: scale(1);
  }
}

// New Pulse Styles

.featured-flag {
  text-transform: uppercase;
  color: $white;
  letter-spacing: 0.7px;
  font-size: 9px;
  font-weight: 700;
  position: relative;
  top: 0.5px;

  &::before {
    content: "";
    margin-right: 3px;
    float: left;
    background: url("../assets/svg/featured.svg") no-repeat 0 0 / contain;
    width: 12px;
    height: 12px;
  }

  &-container {
    background: $blue;
    position: absolute;
    z-index: map-get($z-indices, featured-flag);
    left: 0;
    top: 0;
  }
}

.btn-tag {
  color: $black;
  border-color: $black;
  border-radius: 19px;
  margin-right: 16px;
  margin-bottom: 10px;
  padding: 0.5rem 0.8125rem;

  &.active,
  &:active,
  &:hover,
  &:focus {
    color: $white;
    background-color: $black;
  }
}

// Components

@import "../components/navbar/navbar";
@import "../components/project-card/project-card";
@import "../components/project-card/project-card-detailed";
@import "../components/profile-card/profile-card";
@import "../components/footer/footer";
@import "../components/issue-selector/issue-selector";
@import "../components/bio/bio";
@import "../components/notification-bar/notification-bar";
@import "../components/profile-tab-group/profile-tab-group";
@import "../components/search-tab-group/search-tab-group";
@import "../components/join-us-modal/join-us-modal";
@import "../components/newsletter-sign-up/newsletter-sign-up";

// Pages

@import "../pages/add/add";
@import "../pages/moderation-search/moderation-search";
@import "../pages/issues/issues";
@import "../pages/profile-edit/profile-edit";
@import "../pages/search/search";
