// mofo-bootstrap bits

@import '../node_modules/mofo-bootstrap/src/scss/custom/colors';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/mixins.scss';

body {
  background: #f1f1f1;
}

h2 {
  font-size: 20px;
  color: $bikeshed-magenta;
}

.btn {
  transition: background-color 0.15s, color 0.15s, border-color 0.15s;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: $mobile-blue;
  border: 1px solid $mobile-blue;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 6px;
  width: 100%;

  &:hover,
  &:active {
    background: $mobile-blue;
    color: #fff;
  }
}

.search-bar {
  background: #fff;

  .container {
    position: relative;
  }

  &.activated {
    margin-bottom: 20px;

    .dismiss {
      opacity: 1;
    }
  }

  .dismiss {
    position: absolute;
    top: 18px;
    right: 18px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    opacity: 0;
    transition: opacity 0.1s;
    padding: 0;
    background: #eee;
    border: none;

    &:hover,
    &:active,
    &:focus {
      background: #333;
      color: $white;
    }
  }

  input {
    width: 100%;
    padding: 18px 30px;
    background: url(../assets/svg/icon-search.svg) #fff no-repeat left center;
    border: 0;
    box-sizing: border-box;
  }
}

.btn-add {
  position: absolute;
  top: -40px;
  right: 15px;
  font-weight: 300;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: transform 0.5s, color 0.25s, background 0.25s;
  text-align: center;
  z-index: 1000;
  background: #48484a center center no-repeat;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background: $mobile-blue;
  }
}

// Components

@import '../components/navbar/navbar';
@import '../components/project-list/project-list';
@import '../components/project-card/project-card';
@import '../components/footer/footer';
@import '../components/issue-selector/issue-selector';

// Pages

@import '../pages/add/add';
