// modified from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin link-text-decoration($normal-state: none, $hover-state: $link-decoration) {
  text-decoration: $normal-state;

  @include hover-focus-active {
    text-decoration: $hover-state;
  }
}

@mixin scale-text($base-font-size, $base-line-height: null, $large-font-size: null, $large-line-height: null) {
  font-size: $base-font-size;

  @if ($base-line-height) {
    line-height: $base-line-height/$base-font-size;
  }

  @if ($large-font-size) {
    @media screen and (min-width: $bp-md) {
      font-size: $large-font-size;

      @if ($large-line-height) {
        line-height: $large-line-height/$large-font-size;
      }
    }
  }
}

@mixin form-helper-text {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.33;
  display: inline-block;
  margin-left: 0.5rem;
  color: $gray-40;
  font-family: 'Nunito Sans', sans-serif;
}
