// modified from https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > .img-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin link-text-decoration($normal-state: none, $hover-state: $link-decoration) {
  text-decoration: $normal-state;

  @include hover-focus-active {
    text-decoration: $hover-state;
  }
}

@mixin scale-text($base-font-size, $base-line-height: null, $large-font-size: null, $large-line-height: null) {
  font-size: $base-font-size;

  @if ($base-line-height) {
    line-height: $base-line-height/$base-font-size;
  }

  @if ($large-font-size) {
    @media screen and (min-width: $bp-md) {
      font-size: $large-font-size;

      @if ($large-line-height) {
        line-height: $large-line-height/$large-font-size;
      }
    }
  }
}

@mixin search-input-and-dropdown( $border-color, $home-dropdown ) {
  @include scaleText(16px, 24px, 20px, 28px);

  border-radius: 0;
  padding: 0.75rem;
  border-color: $border-color;

  @if $home-dropdown == true {
    font-weight: 700;
    height: 100%;
    max-height: 50px;
    background-image: url("../assets/svg/caret-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;
    color: black;

    @media (min-width: $bp-md) {
      max-height: 64px;
    }
  }

  &:focus,
  &:active {
    border-color: $light-blue;
  }

  @media (min-width: $bp-md) {
    padding: 1.0625rem 0.75rem;
  }
}
