.search-bar {
  position: relative;

  &.activated {
    .dismiss {
      opacity: 1;
    }
  }

  .dismiss {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    opacity: 0;
    transition: opacity 0.1s;
    padding: 0;
    background: $gray-05;
    color: inherit;
    border: none;

    &:hover,
    &:active,
    &:focus {
      background: $gray-80;
      color: $white;
    }

    @media (min-width: $bp-md) {
      top: 1.4rem;
    }
  }
}
