.search-bar {
  position: relative;

  &.activated {
    .dismiss {
      opacity: 1;
    }
  }

  .dismiss {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    opacity: 0;
    transition: opacity 0.1s;
    padding: 0;
    background: #eee;
    color: inherit;
    border: none;

    &:hover,
    &:active,
    &:focus {
      background: #333;
      color: $white;
    }
  }
}

.custom-select {
  background-image: url("../assets/svg/caret-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  cursor: pointer;
  color: black;
}
