// colors

$pulse-pink: #ff506e;
$pulse-purple: #a56eff;
$pulse-light-blue: #dbdcff;

$form-error-color: #d24735;

// spacing

$form-field-mb-sm: 24px;
$form-field-mb-lg: 48px;
$form-check-input-margin-x: 0.5rem;
$btn-padding-x-xs: $btn-padding-x-sm;
$btn-padding-y-xs: 0.125rem;

// button

$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-xs: $btn-border-radius;

// sizing

$large-text-area: 11.25em;

// z indices
$z-indices: (
  join-us-modal: 4,
  nav-link-list: 3,
  btn-add: 2,
  featured-flag: 1
);
