.moderation-search-controls {
  border-bottom: 3px solid $black;
}

.state-filter,
.featured-filter {
  width: 100%;
  height: 100%;

  .Select-control {
    border-color: $black;
    border-radius: 0;
    height: 50px;

    @media (min-width: $bp-md) {
      height: 64px;
    }

    .Select-value {
      line-height: 50px;

      @media (min-width: $bp-md) {
        line-height: 60px;
      }

      .Select-value-label {
        vertical-align: middle;
      }
    }

    .Select-arrow {
      border-color: $black transparent transparent;
    }
  }
}
