.moderation-search-controls {
  border-bottom: 3px solid $gray-lighter;
}

.state-filter,
.featured-filter {
  width: 100%;
  height: 100%;

  .Select-control {
    border-color: $input-border-color;
  }
}

