.project-card {
  margin-bottom: 20px;
  background: $white;
  overflow: hidden;

  h2 {
    color: $body-color;
    font-size: 1.625rem;
    line-height: 1;
    margin: 0 0 10px;

    a {
      color: $bikeshed-magenta;
    }
  }

  .creator {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    @include aspect-ratio(1200, 630);

    display: block;
    overflow: hidden;

    .img-container {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  .action-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .get-involved,
  &.moderation-mode .issues-and-tags,
  &.detail-view .action-panel {
    border-bottom: 1px solid $gray-lighter;
  }

  &.detail-view .report-correction {
    border-top: 1px solid $gray-lighter;
  }

  .share {
    .btn {
      width: 20px;
      height: 20px;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 0;
      border: none;
      cursor: pointer;
    }
  }

  .btn.twitter-share {
    width: 25px;
    background-image: url(/assets/svg/icon-twitter.svg);
    background-size: auto 17px;

    &:hover,
    &.active {
      background-image: url(/assets/svg/icon-twitter-selected.svg);
    }
  }

  .heart {
    display: inline-block;
    width: 23px;
    height: 19px;
    background: url(/assets/svg/icon-bookmark.svg) center center no-repeat;
    background-size: auto 16px;
    cursor: pointer;

    &.beating {
      animation-name: beating;
      animation-duration: 0.4s;
      animation-fill-mode: both;
    }
  }

  &.bookmarked .heart {
    background: url(/assets/svg/icon-bookmark-selected.svg) center center no-repeat;
    background-size: auto 16px;
  }

  @keyframes beating {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(0.8);
    }

    75% {
      transform: scale(1);
    }
  }

  .moderation-panel {
    background: $gray-lightest;
  }
}

.project-card.regular-list-mode {
  // to make summary content fade away in summary/list view
  .summary-content {
    position: relative;
    height: 350px;
    overflow: hidden;
  }

  .fade-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0);
  }
}

.project-card.moderation-mode {
  .get-involved {
    h2 {
      font-size: inherit;
    }
  }
}

// Detailed view styling
.project-card.detail-view {
  background: inherit;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .heart {
    height: auto;
  }

  .btn-visit {
    border-radius: 0;
  }

  // >= 768px
  @media screen and (min-width: $bp-md) {
    .creator {
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
    }
  }
}
