.project-card {
  margin-bottom: 20px;
  background: $white;
  overflow: hidden;
  /* optimize swipe with class and transform. */
  transition: left 0.25s, height 0.25s, padding 0.25s, margin 0.25s;

  &.detail-view {
    margin: 0 auto;

    h2 {
      color: $body-color;
    }
  }

  &:not(.detail-view) {
    .main-content {
      position: relative;
      height: 350px;
      overflow: hidden;
    }

    .fade-overlay {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      background: linear-gradient(to top, rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0);
    }
  }

  h2 {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 10px;

    a {
      color: $bikeshed-magenta;
    }
  }

  .creator {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    @include aspect-ratio(1200, 630);

    display: block;
    overflow: hidden;

    .img-container {
      text-align: center;

      img {
        max-width: 100%;
      }
    }
  }

  .action-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .share {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;

    .btn {
      width: 23px;
      height: 19px;
      background: url(/assets/svg/icon-link.svg) center center no-repeat;
      background-size: auto 18px;
      border: none;
      cursor: pointer;

      &:hover,
      &.active {
        background: url(/assets/svg/icon-link-selected.svg) center center no-repeat;
        background-size: auto 18px;
      }
    }

    input {
      visibility: hidden;
      box-sizing: border-box;
      color: #adadad;
      width: 100%;
      padding: 5px;
      border: none;
    }

    .btn.active + input {
      visibility: visible;
    }
  }

  .heart {
    display: inline-block;
    width: 23px;
    height: 19px;
    background: url(/assets/svg/icon-bookmark.svg) center center no-repeat;
    background-size: auto 16px;
    cursor: pointer;

    &.beating {
      animation-name: beating;
      animation-duration: 0.4s;
      animation-fill-mode: both;
    }
  }

  &.bookmarked .heart {
    background: url(/assets/svg/icon-bookmark-selected.svg) center center no-repeat;
    background-size: auto 16px;
  }

  @keyframes beating {
    0% {
      transform: scale(1);
    }

    25% {
      transform: scale(0.8);
    }

    75% {
      transform: scale(1);
    }
  }
}

// >= 768px
@media screen and (min-width: $bp-md) {
  .project-card {
    &.detail-view {
      max-width: 600px;

      .creator {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
      }
    }
  }
}
