.project-card.detail-view {
  background: inherit;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .heart {
    height: auto;
  }

  .btn-visit {
    border-radius: 0;
  }

  .issues-and-tags {
    color: $dark-blue;
  }

  .get-involved {
    background-color: $gray-05;
  }

  .description {
    p {
      margin-bottom: 0;
    }
  }

  .thumbnail-wrapper {
    grid-area: image;

    @media (min-width: $bp-md) {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    @media (min-width: $bp-lg) {
      grid-column: 1 / 13;
      grid-row: 1;
    }
  }

  .title-author-wrapper {
    grid-area: info;

    @media (min-width: $bp-lg) {
      grid-column: 10 / 25;
      grid-row: 1;
      z-index: 1;
      align-self: center;
    }
  }

  .social-panel-wrapper {
    grid-area: icons;

    @media (min-width: $bp-lg) {
      height: 60vh;
    }
  }

  .thumbnail-title-social {
    display: grid;
    grid-template:
      [row1-start] "image image image" 1fr [row1-end]
      [row2-start] ". info ." 0.5fr [row2-end]
      [row3-start] ". icons ." 40px [row3-end]
      / 15px 1fr 15px;

    @media (min-width: $bp-sm) {
      grid-template-columns: 100px 1fr 100px;
    }

    @media (min-width: $bp-md) {
      margin-top: 48px;
      grid-template:
        [row1-start] "info info" 0.5fr [row1-end]
        [row2-start] "image icons" 1.75fr [row2-end]
        / 2fr 1fr;
    }

    @media (min-width: $bp-lg) {
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: 0.5fr 0.25fr;
    }

    &-wrapper {
      @media (min-width: $bp-md) {
        width: 720px;
        max-width: 100%;
        padding: 0 15px;
        margin: 0 auto;
      }

      @media (min-width: $bp-lg) {
        width: 960px;
      }

      @media (min-width: $bp-xl) {
        width: 1140px;
      }
    }
  }

  .title-author {
    @media (min-width: $bp-lg) {
      background-color: $white;
    }

    header {
      width: 90%;
    }
  }

  .social-panel {
    @media (min-width: $bp-lg) {
      position: sticky;
      top: 530px;
    }

    @media (min-width: $bp-xl) {
      top: 600px;
    }

    &-wrapper {
      @media (min-width: $bp-lg) {
        height: 55vh;
      }
    }

    a:first-child::before {
      margin-right: 16px;
    }
  }

  .action-panel {
    @media (min-width: $bp-lg) {
      width: 80%;
    }

    a {
      @media (min-width: $bp-lg) {
        width: 49%;
      }

      &:first-of-type {
        width: 100%;

        @media (min-width: $bp-md) {
          width: auto;
        }

        @media (min-width: $bp-lg) {
          width: 49%;
        }
      }
    }
  }

  .main-content {
    @media (min-width: $bp-lg) {
      margin-top: -58vh;
    }
  }
}
