.profile-edit-page {
  label .h5-heading {
    margin-bottom: 0.5rem;
  }
  
  fieldset {
    @extend .fieldset-full-width;
  }

  fieldset.user_bio {
    textarea {
      height: $large-text-area;
    }
  }

  fieldset.thumbnail {
    input[type="button"] {
      @include thumbnail-button-style();

      display: block;
      margin: auto;
    }
  }

  fieldset.issues {
    a {
      color: $dark-blue;
    }
  }

  fieldset.Twitter,
  fieldset.Linkedin,
  fieldset.Github,
  fieldset.website {
    @extend .fieldset-half-width;
  }

  fieldset.user_bio,
  fieldset.website,
  fieldset.thumbnail,
  fieldset.location,
  fieldset.user_bio_long {
    margin-bottom: 48px;
  }

  fieldset.user_bio_long {
    textarea {
      height: $large-text-area;
    }
  }
}
