.navbar {
  background: $bikeshed-magenta;
  margin-bottom: 30px;
  padding: 1rem 0;
  border-radius: 0;
  font-weight: 400;

  .inner {
    position: relative;
  }

  .logo {
    display: inline-block;
  }

  .page-navs {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    li {
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .text-nav-link {
    color: transparentize($white, 0.5);
    text-decoration: none;

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: $white;
    }
  }

  .log-in-out-panel {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }

  .btn-add {
    position: fixed;
    bottom: $grid-gutter-width-base;
    right: $grid-gutter-width-base / 2;
    z-index: 1000;

    &:hover,
    &:active,
    &:focus {
      &::before {
        background: url(/assets/svg/icon-plus.svg) $mobile-blue center center no-repeat;
      }
    }

    &.active {
      transform: rotate(45deg);
    }

    &::before {
      content: " ";
      display: inline-block;
      height: 50px;
      width: 50px;
      position: relative;
      top: 3px;
      border-radius: 50%;
      transition: transform 0.5s, color 0.25s, background 0.25s;
      text-align: center;
      background: url(/assets/svg/icon-plus.svg) #48484a center center no-repeat;
      box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }
  }

  // >= 768px
  @media screen and (min-width: $bp-md) {
    .inner {
      display: flex;
      align-items: center;
      margin-left: -10px; // similar treatment as what we have for .project-list
      margin-right: -10px;
    }

    .logo {
      @include project-card-width(3);

      margin-bottom: 0;
    }

    .logo,
    .page-navs,
    .log-in-out-panel {
      margin-left: $project-card-side-margin;
      margin-right: $project-card-side-margin;
    }

    .page-navs {
      margin-top: 0;
      width: 50%;
      max-width: 300px;
    }

    .log-in-out-panel {
      top: -10px;
    }

    .log-in-out-link {
      margin-right: 1.5rem;
    }

    .btn-add {
      position: static;

      &::before {
        background: url(/assets/svg/icon-plus-pink.svg) $white center center no-repeat;
      }
    }
  }

  // >= 992px
  @media screen and (min-width: $bp-lg) {
    .page-navs {
      max-width: 350px;
    }
  }
}
