#main-nav-wrapper {
  $burger-width: 28px;
  $burger-height: 28px;
  $burger-bar-offset: 13px;

  .burger {
    margin-right: $burger-width;
    cursor: pointer;
    border: 0;
    background: transparent;
    width: $burger-width;
    height: $burger-height;
    padding: 0;
    position: relative;

    &-bar {
      position: absolute;
      background: $black;
      height: 3px;
      width: $burger-width;
      transition: top 0.1s linear 0.1s, width 0.1s linear 0.1s, transform 0.1s;

      &-top {
        top: 3px;
        width: 16px;
      }

      &-middle {
        top: $burger-bar-offset;
      }

      &-bottom {
        top: 22px;
        width: 23px;
      }
    }

    &.menu-open {
      .burger-bar {
        &.burger-bar-top {
          top: $burger-bar-offset;
          width: $burger-width;
          transform: rotate(135deg);
        }

        &.burger-bar-middle {
          transform: rotate(135deg);
        }

        &.burger-bar-bottom {
          top: $burger-bar-offset;
          width: $burger-width;
          transform: rotate(45deg);
        }

        transition: top 0.1s, width 0.1s, transform 0.1s linear 0.1s;
      }
    }
  }

  .logo-mobile {
    width: $burger-width;
    height: $burger-height;
  }
}

.navbar {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid $gray-20;

  .nav-link-list {
    position: fixed;
    top: 80px;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    background: $black;
    z-index: 1000000;
    transition: opacity 0.2s ease-in 0.1s;

    a,
    button {
      font-size: 17px;
      line-height: 1.35;
      font-weight: 700;
    }

    &.show {
      opacity: 1;
      width: 100%;
      height: 100%;
    }

    .link {
      color: $white;

      @include hover-focus-active {
        color: $light-blue;
      }
    }

    &-container {
      @media (min-width: $bp-sm) {
        width: 540px;
        max-width: 100%;
        margin: 0 auto;
      }

      @media (min-width: $bp-md) {
        width: 720px;
      }
    }
  }

  .signupin-request {
    margin-top: 120px;
  }

  .signupin-user {
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    a {
      @include link-text-decoration(none,none);

      color: $black;
      font-weight: 700;

      @include hover-focus-active {
        color: $dark-blue;
      }
    }
  }
}
