.navbar {
  display: block;
  background: $bikeshed-magenta;
  padding: 1rem 0;
  border-radius: 0;

  .inner {
    position: relative;
  }

  .nav-link-list {
    position: static;
    align-self: center;

    a {
      color: transparentize($white, 0.5);
      text-decoration: none;

      &.active,
      &:active,
      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  .signupin-user {
    position: absolute;
    top: 5px;
    right: $grid-gutter-width-base / 2;
  }

  .btn-add {
    position: fixed;
    bottom: $grid-gutter-width-base;
    right: $grid-gutter-width-base / 2;
    font-weight: 300;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: transform 0.5s, color 0.25s, background 0.25s;
    text-align: center;
    z-index: 1000;
    background: $black center center no-repeat;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
      background: $link-color;
    }

    &.active {
      display: none;
    }
  }

  @media screen and (min-width: $bp-lg) {
    .nav-link-list {
      position: relative;
    }

    .signupin-user {
      top: 0;
      right: 5.5rem;
    }

    .btn-add {
      position: absolute;
      bottom: -30px;
      right: 15px;
    }
  }
}
