#burger {
  margin-left: 1rem;
  border: 0;
  background: url(/assets/svg/hamburger.svg) no-repeat;
  width: 31px;
  height: 39px;
}

#btn-dismiss {
  border: none;
  padding: 0;
}

.navbar {
  display: block;
  padding: 24px 0 0;
  border-radius: 0;

  .inner {
    position: relative;
  }

  a {
    @include link-text-decoration(none);
  }

  .nav-link-list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: map-get($z-indexes, nav-link-list);
    padding: 1rem $grid-gutter-width-base/2;
    overflow: auto;

    a {
      color: white;
      font-weight: 700;
      font-size: 26px;
    }

    a.active,
    a.active > i.fa,
    a:hover > i.fa {
      text-decoration: underline;
    }
  }

  .pinned {
    position: absolute;
    top: 0;
    right: 0;
  }

  .signupin-user {
    max-width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: $pulse-purple;

    a {
      color: $pulse-purple;
      font-weight: 600;
    }
  }

  .btn-add {
    height: 40px;
    width: 40px;
    z-index: map-get($z-indexes, btn-add);
    background-color: $pulse-purple;
    background-image: url(/assets/svg/icon-add.svg);
    background-size: 15px 15px;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 2px 2px black;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    top: 3px;
    transition: all 0.25s ease;

    &:hover,
    &:active,
    &:focus {
      box-shadow: 5px 5px black;
      transform: translate(-3px, -3px);
    }

    &.active {
      background-color: black;
      background-image: url(/assets/svg/icon-add-gray.svg);
      box-shadow: none;
      pointer-events: none;
    }
  }

  hr {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  @media screen and (min-width: $bp-md) {
    #main-nav-wrapper {
      position: relative;
      top: 5px;
    }

    .nav-link-list {
      display: block;
      position: static;
      background: none;
      height: auto;
      padding: 0;

      a {
        color: $body-color;
        font-size: inherit;
      }
    }
  }

  @media screen and (min-width: $bp-lg) {
    #main-nav-wrapper {
      position: static;
      top: 0;
    }

    .pinned {
      position: static;
      right: 0;
    }

    .nav-link-list {
      align-self: center;
    }
  }
}
