.search-page {
  $glyph-container: (
    "margin-x": 12px,
    "height": 20px,
    "width": 20px,
  );

  .btn-dismiss {
    background: transparent;
  }

  .help-query {
    @include scaleText(12px, 16px, 12px, 16px);

    border-radius: 10px;
    border: 0.8px solid $black;
    padding: 1px 8px;
    text-transform: capitalize;
    font-weight: 300;
    margin-left: 4px;
  }

  .query-text {
    @include scaleText(12px, 16px, 16px, 24px);

    display: flex;
    align-items: center;
  }

  .help-dropdown {
    @include scaleText(16px, 24px, 20px, 28px);

    border-radius: 0;
    padding: 0.75rem;
    border-color: $black;
    font-weight: 600;
    height: 100%;
    max-height: 50px;
    background-image: url("../assets/svg/caret-down.svg");
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    cursor: pointer;
    color: $black;

    &:focus,
    &:active {
      border-color: $light-blue;
    }

    @media (min-width: $bp-md) {
      max-height: 64px;
      padding: 1.0625rem 0.75rem;
    }
  }

  .search-bar {
    input {
      border-color: $black;

      &:focus,
      &:active {
        border-color: $light-blue;
      }
    }
  }

  #search-box {
    padding-right: map-get($glyph-container, "margin-x") * 2 +
      map-get($glyph-container, "width");
  }

  .glyph-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: map-get($glyph-container, "margin-x");
    height: map-get($glyph-container, "height");
    width: map-get($glyph-container, "width");
    margin: auto;
  }
}
