.moderation-search-controls {
  border-bottom: 3px solid $gray-lighter;
}

.search-bar {
  position: relative;

  &.activated {
    margin-bottom: 20px;

    .dismiss {
      opacity: 1;
    }
  }

  .dismiss {
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    opacity: 0;
    transition: opacity 0.1s;
    padding: 0;
    background: #eee;
    color: inherit;
    border: none;

    &:hover,
    &:active,
    &:focus {
      background: #333;
      color: $white;
    }
  }

  input {
    width: 100%;
    padding: 0.5rem 1rem;
    background: $white;
    border: 0;
    box-sizing: border-box;
  }
}

.state-filter {
  width: 100%;

  @media screen and (min-width: $bp-md) {
    width: 130px;
  }

  .Select-control {
    border: 0;
    border-radius: 0;
  }
}
