.site-footer {
  background-color: $black;

  .link-list {
    @media (min-width: $bp-md) {
      column-count: 2;
      break-inside: avoid-column;
    }

    li {
      a {
        text-decoration: none;

        &:hover,
        :active,
        :focus {
          text-decoration: underline;
        }
      }
    }
  }

  hr {
    border-color: $gray-20;
  }
}
