footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-footer {
  background-color: $black;

  .link-list {
    @media (min-width: $bp-md) {
      column-count: 2;
      break-inside: avoid-column;
    }
  }
}
