footer {
  text-align: center;
  padding: 15px 0;
}

// >= 992px
@media screen and (min-width: $bp-lg) {
  footer {
    p {
      display: inline-block;

      &:not(:last-child)::after {
        content: "|";
        display: inline-block;
        padding: 0 12px;
        color: #adadad;
      }
    }
  }
}
