.bio {
  border-bottom: 1px solid $gray-lighter;

  .pic {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $gray;
  }

  .name {
    font-size: 1.75rem;
    font-weight: 500;
  }

  .other-meta {
    font-size: 0.75rem;
    font-weight: 600;
  }

  .tags {
    font-size: 0.875rem;
    font-weight: 600;

    .open-sans {
      font-size: 0.625rem;
    }
  }

  .blurb {
    font-size: 1.25rem;
  }

  .meta-with-icon {
    &::before {
      font-family: "FontAwesome";
      display: inline-block;
      margin-right: 0.5rem;
    }

    &.location {
      &::before {
        content: "\f041";
      }
    }

    &.language {
      &::before {
        content: "\f075";
      }
    }

    &.story {
      &::before {
        content: "\f10d";
      }
    }

    &.link {
      &::before {
        content: "\f2be";
      }
    }
  }
}
