.bio {
  .thumbnail {
    overflow: hidden;
    background: url("/assets/profile-pic.png") $gray no-repeat center;
    background-size: cover;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
    }
  }

  .social-media {
    width: 30px;
    text-align: center;

    @media screen and (min-width: $bp-md) {
      width: auto;
      text-align: left;
    }
  }

  .name {
    font-size: 1.375rem;
    font-weight: 700;
  }

  .tags {
    color: $black;
  }

  .blurb {
    font-size: 1.25rem;
  }

  .meta-with-icon {
    &::before {
      font-family: "FontAwesome";
      display: inline-block;
      margin-right: 0.4rem;
    }

    &.location {
      @include compositeGlyph("icon-locator");

      color: $gray-40;

      &::before {
        margin-right: 5px;
      }
    }

    &.language {
      &::before {
        content: "\f075";
      }
    }

    &.story {
      &::before {
        content: "\f10d";
      }
    }

    &.website {
      @include compositeGlyph("icon-globe");

      &::before {
        margin-right: 6px;
      }

      a {
        font-weight: 700;
      }
    }
  }

  .tags-link {
    &::after {
      content: ",";
      display: inline-block;
      margin-right: 0.25rem;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.profile-page {
  hr {
    border-top: 1px solid $black;
  }
}
