.bio {
  border-bottom: 1px solid $gray-lighter;

  .pic {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .name {
    font-size: 1.75rem;
    font-weight: 500;
  }
}
