.issue-selector {
  margin-bottom: 36px;

  .btn {
    color: $black;
    font-weight: 400;
    border-color: $black;
    border-radius: 19px;
    margin-right: 16px;
    margin-bottom: 10px;

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: $white;
      background-color: $black;
    }
  }
}
