.issue-selector {
  margin-bottom: 20px;

  .btn {
    color: $gray;
    border-color: $gray-lighter;
    margin-right: 5px;
    margin-bottom: 10px;

    &.active,
    &:active,
    &:hover,
    &:focus {
      color: $bikeshed-magenta;
      border-color: $bikeshed-magenta;
    }
  }
}
