.issue-selector {
  margin-bottom: 20px;
  
  .btn {
    display: inline-block;
    color: #7a7a7a;
    border: 1px solid #c7c7ca;
    border-radius: 4px;
    padding: 3px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;

    &.active,
    &:hover {
      color: $bikeshed-magenta;
      border-color: $bikeshed-magenta;
      text-decoration: none;
    }
  }
}
