.add-page {
  h1,
  h2 {
    color: $bikeshed-magenta;
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: $form-field-vertical-margin;
  }
}

.checkboxGroup {
  label {
    @extend .form-check-label;

    margin-left: 0;
  }

  input {
    @extend .form-check-input;

    margin-right: 0.5rem;
  }
}

.posted-by {
  margin-top: $form-field-vertical-margin / 2;

  .user-full-name {
    display: inline-block;
    margin-left: 5px;
  }
}

fieldset.creators {
  .row {
    vertical-align: middle;
    margin: 0 0 0.5rem;

    @media screen and (min-width: $bp-md) {
      display: inline-block;
      width: calc(50% - 0.5rem / 2);

      &:nth-child(2n) {
        margin-left: 0.5rem;
      }
    }
  }

  .button {
    outline: none;
  }

  .button.remove-field {
    display: none;
  }

  .button.add-field {
    @extend .btn-link;

    margin-left: 1rem;

    @include hover-focus {
      color: $link-hover-color;
    }
  }
}

.submit-section {
  margin-top: $form-field-vertical-margin;

  button + span {
    color: $form-error-color;
  }
}
